.background {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 9;
}

.modal {
  animation: slide-in .15s ease-in;
  background-color: white;
  border-radius: 5px;
  border: 3px solid #e5e5e5;
  box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.3);
  left: 50%;
  transform: translateX(-50%);
  margin: 50px auto 0;
  max-width: 600px;
  position: absolute;
  top: 50px;
  text-align: center;
  padding: 1.5em;
  width: 100%;
  will-change: transform;
  z-index: 10;
}

.modal__close {
  border: 0;
  font-size: 1em;
  position: absolute;
  right: -5px;
  top: 15px;
}

.hidden {
  display: none;
}

@keyframes slide-in {
  0% {
    transform: translateX(-50%) translateY(-20px);
  }
  100% {
    transform:translateX(-50%)  translateY(0);
  }
}
