body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin-top: 2em;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.header__title h1 {
  margin-bottom: 0;
}

.header__selector button {
  margin-left: 1em;
}

textarea {
  width: 100%;
  resize: none;
}

.active {
  text-decoration: none;
  font-weight: bold;
}

nav {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 1.5em;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 1em;
}

*[disabled] {
  cursor: not-allowed !important;
  opacity: .5;
}

input[type="text"],
input[type="email"] {
  width: 100%;
}

a {
  color: blue;
}
